.todo-item-wrapper {
    display: flex;
    flex-direction: column; /* Change to column layout */
    padding: 15px;
    background-color: rgb(122, 159, 159);
    margin-top: 15px;
    border-radius: 10px;
}

.todo-item-text {
    display: flex;
    gap: 10px;
    margin-bottom: 10px; /* Space between text and buttons */
}

.todo-item-buttons {
    display: flex;
    gap: 10px;
}

.todo-item-buttons button {
    padding: 5px;
}

.todo-item-buttons svg {
    width: 20px;
    height: 20px;
}

.pencel-button {
    color: blue;
    border: 1px solid saddlebrown; /* Add solid border */
}

.trash-button {
    color: blue;
    border: 1px solid saddlebrown; /* Add solid border */
}
